<div class="container">
  <h2 class="title">Floating menu with custom component</h2>

  <div class="content">
      <div class="editor">
        <ngx-editor [editor]="editor" [(ngModel)]="html" (onModelChange)="onChange">
          <ngx-editor-floating-menu [editor]="editor" [autoPlace]="true">
            <ngx-editor-menu [customMenuRef]="customMenu" [toolbar]="toolbar" [editor]="editor"></ngx-editor-menu>
            <ng-template #customMenu>
              <app-custom-menu [editor]="editor"></app-custom-menu>
            </ng-template>
          </ngx-editor-floating-menu>
        </ngx-editor>
        {{html | json}}
      </div>
  </div>
</div>
